html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
    width: 100%;
    min-width: 480px;
    height: 100%;
    text-align: center;
    background: #f8f9fa;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: inherit;
}

/* 최대한 건들지 않는 선에서 작업 (건드려야할땐 서로 상의)*/
